@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  height: 2.5em;
  min-height: 2.5em;
}

.btn-min-width {
  min-width: 100px;
}

.animate-up {
  transform: translateY(10px);
  animation: animateUp 0.5s ease-in-out forwards;
}

@keyframes animateUp {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
